<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    
    <title>Toyota Camry</title>
</head>
<body>
    <header>
        <div class="mainheader">
            <div class="logo">
                <img src="images/Toyota.svg" alt="toyota_logo" >
            </div>
            <div class="hamburger-menu">
                    <img src="hamburger_menu.png" alt="hamburger-menu" >
                </div>
                <nav class="Nav">
                        <a href="#" class="menu-link">HOME</a>
                        <a href="#" class="menu-link">SAFETY INNOVATION</a>
                        <a href="#" class="menu-link">FEATURES</a>
                        <a href="#" class="menu-link">Video</a>
                        </nav>
                        
        </div>
    </header>
    <main>
        <section id="Camry-intro">
            <div class="Info-camry">
                <h1 class="heading"> Toyota Camry Hybrid 2019</h1>
                <h2 class="sub-heading">Don’t dream it. Drive it!</h2>
                <img src="images/img 1.jpeg" alt="camry new model">
            </div>
            <section id="Features">
                <p>Toyota Safety SenseTM P<br><br><br>
                    203-hp, 2.5L, 4-cylinder Engine and 8-Speed Direct Shift Automatic Transmission<br><br><br>
                    16'' Wheels with Wheel Covers<br><br><br>
                    Hill Assist Control<br><br><br>
                    6-way Manually Adjustable Driver Seat<br><br><br>
                    Connected Services by Toyota - Audio. Works with Apple CarPlayTM and Android AutoTM</p>
            </section>
        <!-- </section>
        <h1>You can do it!</h1>
        -->
    </main>

    <script src="js/main.js"></script>
</body>
</html>